<app-navbar></app-navbar>
<div class="custom-style">
  <div class="card gradient-custom">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>We received your purchase request!<br /> An email with your payment details will be sent to you shortly!</p>

    <button class="mt-5 text-uppercase btn btn-success btn-lg" (click)="goToHome()">Continue to Shop</button>
    <button class="mt-5 ms-3 text-uppercase btn btn-success btn-lg" (click)="goToLogin()">Logout</button>
  </div>
</div>