<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand fw-bolder">Food Ordering App</a>
        <form class="form-inline">
            <a class="navbar-brand me-5 fw-bolder">Welcome {{userName}}</a>
            <button class="btn btn-outline-success my-2 my-sm-0 fw-bolder" type="submit" (click)="goToProfile()">Go to profile</button>
            <button class="btn btn-outline-success my-2 my-sm-0 fw-bolder ms-3" type="submit" (click)="logout()">Logout</button>
        </form>
    </div>

</nav>