.inlineimage {
    max-width: 470px;
    /* margin-right: px;
    margin-left: 10px */
}

.images {
    display: inline-block;
    max-width: 98%;
    height: auto;
    width: 12%;
    margin: 1%;
    left: 20px;
    text-align: center
}