<app-navbar></app-navbar>

<div class="container mb-5">
  <h2 class="mt-5">Choose Restaurants</h2>
  <!--Accordian Begin-->
  <div class="accordion mt-5 mb-5" id="accordionExample">

    <!--First item start-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne" style="background-color: rgba(211, 211, 211, 0.8); ">
          <h4 style="color: black;font-weight: bold;">Choose Restaurants By Location <i
              class="fa fa-map-marker ms-2 fa-1x"></i>
          </h4>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" style="background-color: rgba(211, 211, 211, 0.8); ">
          <!--Body begin-->
          <div class="container">
            <div class="row gradient-custom">
              <div class=" offset-1 col-10 offset-md-3 col-md-6 p-5">
                <h1>Choose Location</h1>
                <form #locationForm="ngForm" class="mt-5" (ngSubmit)="getRestaurantsByLocation()">
                  <div class="form-group">
                    <select class="form-select" name="location" [(ngModel)]="food_loc.restLocation" #location="ngModel"
                      aria-label="Select location">
                      <option selected="selected">Choose Location</option>
                      <option class="" *ngFor="let place of availableLocations">{{place}}</option>
                    </select>
                    <button
                      [disabled]="(food_loc.restLocation=='' || food_loc.restLocation=='Choose Location')?true:false"
                      type="submit" class="btn btn-success mt-3">Find
                      Restaurants</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--Body end-->
        </div>
      </div>
    </div>
    <!--First item end-->

    <!--Second item start-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo" style="background-color: rgba(211, 211, 211, 0.8);">
          <h4 style="color: black; font-weight: bold;">Choose Restaurants By Food <i
              class="fa fa-coffee ms-2 fa-1x"></i></h4>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" style="background-color: rgba(211, 211, 211, 0.8);">
          <!--Body begin-->
          <div class="container">
            <div class="row gradient-custom">
              <div class=" offset-1 col-10 offset-md-3 col-md-6 p-5">
                <h1>Choose Food</h1>
                <form #foodForm="ngForm" class="mt-5" (ngSubmit)="getRestaurantsByFood()">
                  <div class="form-group">
                    <select class="form-select" name="foodForm_foodName" [(ngModel)]="food_loc.foodName"
                      #foodForm_foodName="ngModel" aria-label="Select Food">
                      <option selected="selected">Choose Food</option>
                      <option *ngFor="let food of availableFoods">{{food}}</option>
                    </select>
                    <button [disabled]="(food_loc.foodName=='' || food_loc.foodName=='Choose Food')?true:false"
                      type="submit" class="btn btn-success mt-3">Find
                      Restaurants</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--Body end-->

        </div>
      </div>
    </div>
    <!--Second item end-->

    <!--third item start-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" style="background-color: rgba(211, 211, 211, 0.8);" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 style="color: black; font-weight: bold;">Choose Restaurants By Food and Location <i
              class="fa fa-coffee ms-4 fa-1x faa-coffee animated"></i><i class="fa fa-map-marker ms-2 fa-1x"></i></h4>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" style="background-color: rgba(211, 211, 211, 0.8);">
          <!--Body begin-->
          <div class="container">
            <div class="row gradient-custom">
              <div class=" offset-1 col-10 offset-md-3 col-md-6 p-5">
                <h1>Choose Location and food</h1>
                <form #foodLocationForm="ngForm" class="mt-5" (ngSubmit)="getRestaurantsByLocationAndFood()">
                  <div class="form-group">

                    <select class="form-select" name="food_location" [(ngModel)]="food_loc.restLocation"
                      #food_location="ngModel" aria-label="Select Location">
                      <option selected="selected">Choose Location</option>
                      <option *ngFor="let place of availableLocations">{{place}}</option>
                    </select>
                  </div>

                  <div class="form-group mt-2">
                    <select class="form-select" name="food_name" [(ngModel)]="food_loc.foodName" #food_name="ngModel"
                      aria-label="Select Food">
                      <option selected="selected">Choose Food</option>
                      <option *ngFor="let food of availableFoods">{{food}}</option>
                    </select>
                    <button
                      [disabled]="(food_loc.foodName==''|| food_loc.foodName=='Choose Food'||food_loc.restLocation==''|| food_loc.restLocation=='Choose Location')?true:false"
                      type="submit" class="btn btn-success mt-3">Find
                      Restaurants</button>
                  </div>
                </form>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <!--Body end-->
        </div>
      </div>
    </div>
    <!--third item end-->
  </div>
</div>
<!--Accordian End-->