<app-navbar></app-navbar>

<div class="container mt-5">
  <h2>Choose you favourite restaurant!</h2>
</div>

<div class="container align-items-center justify-content-center mt-5" style="height:100px">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 align-items-center justify-content-center p-5"
      *ngFor="let rest of restList, let i = index">
      <div class="card gradient-custom mt-3 border-3 border-dark" style="width: 18rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <h2>{{i+1}}</h2>
            </div>
            <div class="col-9">
              <h5 class="card-title">
                {{rest.restname}}
              </h5>
              <p class="card-text">{{rest.location}}</p>
              <div class="mb-3 " >
                <i *ngFor="let i of [].constructor(getRoundedNumber(rest.rating) )" class="fa fa-star fa-1x link-warning"></i>
              </div>
              <button type="button" class="btn btn-success fw-bolder"
                (click)="getMenuByRestId(rest.location, rest.restid)">View Menu</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>